<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Test</title>
    <link rel="stylesheet"
    href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet"
    href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/getbespoken/slides.css" />
  </head>
  <body ng-controller="MyCtrl">
    <b-key-press></b-key-press>    
<!--    <button ng-click="startStopRecognition();"
    ng-bind="start_stop_msg"></button> -->
    <div class="row">
     <span class="glyphicon glyphicon-comment"
     ng-if="recognizing"></span>
     <span class="glyphicon glyphicon-pause"
      ng-if="!recognizing"></span>
     <span class="badge pull-right" ng-bind="(currentSlide + 1) + ' of ' + slides.length"></span>
    </div>
    <div class="alert alert-danger" ng-if="errorMessage">
      {{ errorMessage }}
    </div>
    <div class="alert alert-info" ng-if="introduction">
      Hit the <span class="label label-info">SPACE</span> key to start recording,
      and again to stop. Hit the <span class="label label-info">.</span> key to
      create a slide, and the <span class="label label-info">,</span> key to
      go back a slide.
    </div>
    <ul class="speech-points" ng-repeat="bullet in bullets">
      <li>{{ bullet }}</li>
    </ul>
    <ul class="speech-points" ng-show="recognizing">
      <li>
        <span class="final" ng-bind="final"></span>
        <span class="interim" ng-bind="interim"></span>
      </li>
    </ul>

    </table>
    <script type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js">
    </script>
    <script type="text/javascript">
var speech_error_types = {
  "info_start": "Hit the space bar and begin speaking for as long as you like.",
  "info_speak_now": "Speak now",
  "info_no_speech": "No speech was detected. You may have to adjust your microphone settings.",
  "info_no_microphone": "No microphone was found. Ensure that a microphone is installed and configured correctly.",
  "info_allow": "Click the 'Allow' button to allow access to your microphone",
  "info_denied": "Permission to use microphone was denied",
  "info_blocked": "Permission to use microphone is blocked. To change this, go to chrome://settings/contentExceptions#media-stream",
  "info_upgrade": "The web speech API is not supported by your browser. Please try the latest version of Google Chrome." 
}

var myApp = angular.module('myApp');

//myApp.directive('myDirective', function() {});
//myApp.factory('myService', function() {});
myApp.directive('bKeyPress', function() {
  return {
    restrict: 'E',
    replace: true,
    scope: true,
    link:    function postLink(scope, iElement, iAttrs){
      jQuery(document).on('keypress', function(e){
         scope.$apply(scope.keyPressed(e));
       });
    }
  };
});

function MyCtrl($scope) {
    $scope.introduction = true;
    $scope.slides = [[]];
    $scope.currentSlide = 0;
    $scope.bullets = []
    var final_transcript = "";
    $scope.keyPressed = function (event) {
      // Spacebar has been pressed
      var key = event.which;
      if (key == 32) {
       console.log("Spacebar pressed");
       $scope.startStopRecognition();
      }
      // Left arrow has been pressed
      else if (key == 44) {
        console.log("Left arrow pressed");
        $scope.previousSlide();
      }
      // Right arrow has been pressed
      else if (key == 46) {
        console.log("Right arrow pressed");
        $scope.nextSlide();
      }
      else if (key == 83) {
        console.log("Attempting to send email");
        $scope.make_this_post();
      }
      else if (key == 84) {
        console.log("T key pressed");
        console.log($scope.slidesToText());
      }
      else {
        console.log("Key pressed with code "+ event.which);
      }
    };
    $scope.name = 'Superhero';
    $scope.start_stop_msg = "Start";
    var ignore_onend;
    var recognition = new webkitSpeechRecognition();
    $scope.recognizing = false;
    var interim_transcript = "";
    recognition.continuous = true;
    recognition.interimResults = true;
    recognition.onstart = function () {
        $scope.$apply ( function () { $scope.recognizing = true; });
        //$scope.start_stop_message = "Recording...";
    };
    recognition.onend = function () {
        $scope.start_stop_message = "Start";
    };
    recognition.onerror = function (event) {
          window.alert("An error has happened." +
                       event.error);
          ignore_onend = true;
    };
    recognition.onresult = function (event) {
         interim_transcript = '';
         for (var i = event.resultIndex;
              i < event.results.length;
              ++i)
         {
             if (event.results[i].isFinal) {
                 final_transcript +=  
                       event.results[i][0].transcript;
                  }
             else {
                    interim_transcript += event.results[i][0].transcript;
             }
         }
         
        $scope.$apply( function () {
            $scope.final = final_transcript;
        });
        $scope.$apply ( function () {
            $scope.interim = interim_transcript;
        });
    };
  $scope.startStopRecognition = function () {
    if ($scope.recognizing) {
      recognition.stop();
      $scope.start_stop_msg = "Start";
      $scope.recognizing = false;
      var bullet = $scope.final + $scope.interim;
      if ($.trim(bullet) != '') {
        $scope.bullets.push($scope.final + $scope.interim);
      }
      $scope.final = "";
      $scope.interim = "";
      final_transcript = "";
      interim_transcript = "";
      return;
    }
    $scope.introduction = false;
    $scope.final = "";
    $scope.interim = "";
    final_transcript = "";
    interim_transcript = "";
    recognition.start();
    $scope.start_stop_msg = "Recording... Click to stop.";
  };
  /* Go to the next slide if it exists, or create a new slide
    * if it does not exist. */
  $scope.nextSlide = function () {
    console.log("Current slide ID: "+ $scope.currentSlide);
    console.log("Length of slide deck: "+ $scope.slides.length);
    console.log("Slide deck printout");
    console.log($scope.slides);
    if (!$scope.recognizing && $scope.bullets.length > 0) {
      if ($scope.currentSlide < $scope.slides.length - 1) {
        $scope.slides[$scope.currentSlide] = $scope.bullets;
        $scope.currentSlide++;
        $scope.bullets = $scope.slides[$scope.currentSlide];
      }
      else if ($scope.currentSlide == $scope.slides.length - 1) {
        $scope.slides[$scope.currentSlide] = $scope.bullets;
        $scope.currentSlide++;
        $scope.slides.push([]);
        $scope.bullets = $scope.slides[$scope.currentSlide];
      }
      else {
        $scope.errorMessage = "An error happened when moving to the next slide."
      }
    }
    else {
      if ($scope.recognizing) {
        console.log("Speech recognition active while choosing next slide");
        console.log("Stopping speech recognition.");
        $scope.startStopRecognition();
        console.log("Stopped speech recognition. Now choosing next slide.");
        $scope.nextSlide();
      }
    }
  };
  $scope.previousSlide = function () {
    console.log("Current slide ID: "+ $scope.currentSlide);
    console.log("Length of slide deck: "+ $scope.slides.length);
    console.log("Slide deck printout");
    console.log($scope.slides);
    if (!$scope.recognizing) {
      if ($scope.currentSlide > 0) {
        $scope.slides[$scope.currentSlide] = $scope.bullets;
        $scope.currentSlide--;
        $scope.bullets = $scope.slides[$scope.currentSlide];
      }
      else if ($scope.currentSlide == 0){
        // do nothing
      }
      /* Less than zero? These couldn't possibly exist. */
      else {
        $scope.errorMessage = "An error happened moving to the previous slide.";
      }
    }
    else {
      console.log("Speech recognition active while trying to choose previous slide");
      console.log("Stopping speech recognition.");
      $scope.startStopRecognition();
      console.log("Speech recognition stopped. Now choosing previous slide.");
      $scope.previousSlide();
    }
  };
  $scope.slidesToText = function () {
    var output = "";
    $scope.slides[$scope.currentSlide] = $scope.bullets;
    for (var i = 0; i < $scope.slides.length; i++) {
      var num = i + 1;
      output += "---------- Slide "+num+" ----------\n";
      for (var j = 0; j < $scope.slides[i].length; j++) {
        output += "  - " + $scope.slides[i][j]+"\n\n";
      }
      output += "\n\n\n\n";
    }
    return output;
  }; /*
  $scope.make_this_post = function () {
    $http.post("http://bespoken.herokuapp.com/", {"notes", $scope.slidesToText()});
  }; */
}
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43223268-3', 'getbespoken.com');
  ga('send', 'pageview');

</script>
  </body>
</html>
