<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Test</title>
    <link rel="stylesheet"
    href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <style type="text/css">
      .final {
        font-weight:bold;
      }
      .interim {
        color:rgba(0,0,0,0.4);
        font-weight:bold;
      }
    </style>
  </head>
  <body ng-controller="MyCtrl">
    <b-key-press></b-key-press>    
    <button ng-click="startStopRecognition();"
    ng-bind="start_stop_msg"></button>
    <div>
      <span class="final" ng-bind="final"></span>
      <span class="interim" ng-bind="interim"></span>
    </div>
    <ul ng-repeat="slide in slides">
      <li>{{ slide }}</li>
    </ul>
    </table>
    <script type="text/javascript"
    src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js">
    </script>
    <script type="text/javascript">
var speech_error_types = {
  "info_start": "Hit the space bar and begin speaking for as long as you like.",
  "info_speak_now": "Speak now",
  "info_no_speech": "No speech was detected. You may have to adjust your microphone settings.",
  "info_no_microphone": "No microphone was found. Ensure that a microphone is installed and configured correctly.",
  "info_allow": "Click the 'Allow' button to allow access to your microphone",
  "info_denied": "Permission to use microphone was denied",
  "info_blocked": "Permission to use microphone is blocked. To change this, go to chrome://settings/contentExceptions#media-stream",
  "info_upgrade": "The web speech API is not supported by your browser. Please try the latest version of Google Chrome." 
}

var myApp = angular.module('myApp',[]);

//myApp.directive('myDirective', function() {});
//myApp.factory('myService', function() {});
myApp.directive('bKeyPress', function() {
  return {
    restrict: 'E',
    replace: true,
    scope: true,
    link:    function postLink(scope, iElement, iAttrs){
      jQuery(document).on('keypress', function(e){
         scope.$apply(scope.keyPressed(e));
       });
    }
  };
});

function MyCtrl($scope) {
    $scope.slides = []
    var final_transcript = "";
    $scope.keyPressed = function (event) {
      // Spacebar has been pressed
      if (event.which == 32) {
       console.log("Spacebar pressed");
       $scope.startStopRecognition();
      }
      else {
        console.log("Key pressed with code "+ event.which);
      }
    };
    $scope.name = 'Superhero';
    $scope.start_stop_msg = "Start";
    var ignore_onend;
    var recognition = new webkitSpeechRecognition();
    var recognizing = false;
    var interim_transcript = "";
    recognition.continuous = true;
    recognition.interimResults = true;
    recognition.onstart = function () {
        recognizing = true;
        $scope.start_stop_message = "Recording...";
    };
    recognition.onend = function () {
        $scope.start_stop_message = "Start";
    };
    recognition.onerror = function (event) {
          window.alert("An error has happened." +
                       event.error);
          ignore_onend = true;
    };
    recognition.onresult = function (event) {
         interim_transcript = '';
         for (var i = event.resultIndex;
              i < event.results.length;
              ++i)
         {
             if (event.results[i].isFinal) {
                 final_transcript +=  
                       event.results[i][0].transcript;
                  }
             else {
                    interim_transcript += event.results[i][0].transcript;
             }
         }
         
        $scope.$apply( function () {
            $scope.final = final_transcript;
        });
        $scope.$apply ( function () {
            $scope.interim = interim_transcript;
        });
    };
  $scope.startStopRecognition = function () {
    if (recognizing) {
      recognition.stop();
      $scope.start_stop_msg = "Start";
      recognizing = false;
      var slide = $scope.final + $scope.interim;
      if ($.trim(slide) != '') {
        $scope.slides.push($scope.final + $scope.interim);
      }
      $scope.final = "";
      $scope.interim = "";
      final_transcript = "";
      interim_transcript = "";
      return;
    }
    $scope.final = "";
    $scope.interim = "";
    final_transcript = "";
    interim_transcript = "";
    recognition.start();
    $scope.start_stop_msg = "Recording... Click to stop.";
  };
}
    </script>
  </body>
</html>
